{## Start with  defaults from defaults.yaml ##}
{% import_yaml "openssh/defaults.yaml" as default_settings %}

{% import_yaml 'openssh/defaults.yaml' as default_settings %}
{% import_yaml 'openssh/os_family_map.yaml' as osfamilymap_settings %}
{% import_yaml 'openssh/os_map.yaml' as osmap_settings %}
{% import_yaml 'openssh/osfinger_map.yaml' as osfingermap_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}

{% set settings = salt['grains.filter_by'](
    default_settings,
    merge = salt['grains.filter_by'](
        osfamilymap_settings,
        grain='os_family',
        merge = salt['grains.filter_by'](
            osmap_settings,
            grain='os',
            merge = salt['grains.filter_by'](
                osfingermap_settings,
                merge = salt['pillar.get']('nfs', {}),
            ),
        ),
    ),
  )
%}


{## Merge in openssh:lookup pillar ##}
{% set openssh = salt['pillar.get'](
    'openssh',
    default=default_settings.openssh,
    merge=True
  )
%}

{## Merge in sshd_config:lookup pillar ##}
{% set sshd_config = salt['pillar.get'](
    'sshd_config',
    default=default_settings.sshd_config,
    merge=True
  )
%}
